<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <title>Cadastro - Biblioteca Sr. Alex Ferguson</title>

  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #afafaf;
      height: 100%;
    }

    .box {
      margin-top: 20%;
      max-width: 100%;
      height: 100%;
      border: 1px solid black;
      border-radius: 15px;
      background-color: #dddddd;
    }

    .form {
      padding: 5%;
    }

    .link {
      float: right;
    }
  </style>
</head>

<body>
  <div class="container d-flex flex-column justify-content-center align-items-center">
    {{#if errorMessage}}
    <div class="alert alert-danger" role="alert"> {{errorMessage}} </div>
    {{/if}}
    <div class="col-md-6 column">
      <div class="col-md-12 box">
        <form class="form" action="/cadastro" method="POST">
          <h3 class="text-center">Cadastrar</h3>

          <div class="form-group">
            <label for="nome" class="form-label">Nome:</label><br />
            <input type="text" name="nome" id="nome" class="form-control" required />
          </div>

          <div class="form-group mt-3">
            <label for="email" class="form-label">E-mail:</label><br />
            <input type="text" name="email" id="email" class="form-control" required />
          </div>

          <div class="form-group mt-3">
            <label for="senha" class="form-label">Senha:</label><br />
            <input type="password" name="senha" id="senha" class="form-control" required />
          </div>

          <div class="form-group mt-3">
            <input type="submit" name="submit" class="btn btn-primary" value="Cadastrar" />
            <a href="/" class="btn btn-primary link">Fazer login</a>
          </div>
      </div>
      </form>
    </div>
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>

</html>